.order-details {
    text-align: left;
}

.order-details p {
    margin-top: 20px;
}

.grand-total {
    font-weight: 600;
}

.cart-clear {
    margin-top: 20px;
    background-color: #ee3a3a;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    
    width: 100%;
}

.clear-icon{
    margin-left: 10px;
}

@media screen and (max-width:576px) {

    .cart-clear {
        width: 100%;
    }

}